*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.conteiner{
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: repeat(7,1fr);

	grid-gap: 10px;

	
	
}

.principal{
/*
	grid-column-start: 2 ;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 6;
	background: #f1f1f1;*/
}

.header{
	
	grid-column-start: 2;
	grid-column-end: 3;

	grid-row-start: 1;
	grid-row-end: 2;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 30px;

	background: #d32626;
	color:white;
	
	
}
.section{
	grid-column-start: 2;
	grid-column-end: 3;

	grid-row-start: 2;
	grid-row-end: 7;
	background: #f7f7f7;


	display: grid;
	
	grid-template-columns: repeat(7,1fr);
	grid-template-rows: repeat(5,1fr);

}

.div-opcion1{
	

	grid-column-start: 2;
	grid-column-end: 3;

	grid-row-start: 2;
	grid-row-end: 3;

	
}

.div-opcion2{
	

	grid-column-start: 4;
	grid-column-end: 5;

	grid-row-start: 2;
	grid-row-end: 3;
}


.div-opcion3{
	

	grid-column-start: 6;
	grid-column-end: 7;

	grid-row-start: 2;
	grid-row-end: 3;
}
a{
	
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
}
img{
	height: 70%;
	width: 50%;
}
.div-opcion4{


	grid-column-start: 2;
	grid-column-end: 3;

	grid-row-start: 4;
	grid-row-end: 5;
}
.div-opcion5{
	background:  ;

	grid-column-start: 4;
	grid-column-end: 5;

	grid-row-start: 4;
	grid-row-end: 5;
}
.div-opcion6{
	background:  ;

	grid-column-start: 6;
	grid-column-end: 7;

	grid-row-start: 4;
	grid-row-end: 5;
}

.footer{

	grid-column-start: 2;
	grid-column-end: 3;

	grid-row-start: 7;
	grid-row-end: 8;
	background: #d32626;


}
.footer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer a{
	background: #bbbbbb;
	color: black;
	font-size: 20px;
	width: 10%;
	height: 40%;
}